form{
    /* border: 1px solid black; */
    border-radius: 5px 5px ;
    padding: 15px;
}
.container{
    /* background-color: rgb(184, 185, 182, 0.95); */
    background-color: white;
    border-radius: 20px 20px;
    max-width: 400px;
}

.header{
    border-top-left-radius: 20px 20px ;
    border-top-right-radius: 20px 20px ;
}

