

#wrap{
    /* min-height: 800px; */

    min-height: 100%;

    background-image: url('/assets/fr.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
.main{
    padding-top: 60px;
    padding-bottom: 120px;
}

.footer {
    /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0; */
    padding: 1rem;
    text-align: center;
    background-color: #343a40;
    color:rgb(179, 175, 175)

  }